{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.make }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <body>
              <img src="./static/pics/2f002efc64ead7dc.jpg", width=52%, alt="#", class="center">
            </body>
            <h2><a class="article-model" href="#">{{ post.model }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        
    {% endfor %}
{% endblock content %}